<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card bg-primary text-white">
        <div class="card-header">
          <h5>Add Book</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Book Title</label>
                  <input type="text" [(ngModel)]="book.title" name="title" class="form-control">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Book Description</label>
                  <input type="text" [(ngModel)]="book.description" name="description" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <input type="submit" class="btn btn-light" value="Add Book">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>